.profile-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.profile-card {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}

.profile-card h3 {
    margin-top: 15px;
}

.profile-card button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}